body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
}
#u206 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:51px;
  width:1038px;
  height:667px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:60px;
  height:60px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:27px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:35px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:72px;
  background:-webkit-linear-gradient(280deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:101px;
  width:278px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:494px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:194px;
  width:278px;
  height:494px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:70px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:107px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:115px;
  width:30px;
  height:30px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:148px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:114px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:72px;
  background:-webkit-linear-gradient(280deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:101px;
  width:278px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:70px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:108px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:116px;
  width:30px;
  height:30px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:149px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:117px;
  width:181px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:494px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:194px;
  width:278px;
  height:494px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:114px;
  width:1px;
  height:48px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:115px;
  width:1px;
  height:48px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:72px;
  background:-webkit-linear-gradient(280deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:101px;
  width:278px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:70px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:108px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:116px;
  width:30px;
  height:30px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:149px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:117px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:494px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:194px;
  width:278px;
  height:494px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:114px;
  width:1px;
  height:48px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:151px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:151px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:151px;
  width:46px;
  height:16px;
  color:#FFFFFF;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:81px;
  top:51px;
  visibility:hidden;
}
#u236_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  background-image:none;
}
#u236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.576470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:19px;
  width:356px;
  height:626px;
}
#u238_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:626px;
  overflow:hidden;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:8px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u236_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  visibility:hidden;
  background-image:none;
}
#u236_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.576470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:19px;
  width:356px;
  height:626px;
}
#u241_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:626px;
  overflow:hidden;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:8px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u236_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  visibility:hidden;
  background-image:none;
}
#u236_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.576470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:19px;
  width:356px;
  height:626px;
}
#u244_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:626px;
  overflow:hidden;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:8px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
