body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
}
#u0 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:51px;
  width:1038px;
  height:667px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:60px;
  height:60px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:27px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:43px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:35px;
  width:337px;
  height:33px;
  font-size:28px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:60px;
  height:60px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:118px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#1E1E1E;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:126px;
  width:197px;
  height:33px;
  font-size:28px;
  color:#1E1E1E;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:60px;
  height:60px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:283px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#1E1E1E;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:291px;
  width:197px;
  height:33px;
  font-size:28px;
  color:#1E1E1E;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:60px;
  height:60px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:444px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#1E1E1E;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:452px;
  width:197px;
  height:33px;
  font-size:28px;
  color:#1E1E1E;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文琥珀 Oblique', '华文琥珀';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#409EFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:641px;
  width:442px;
  height:37px;
  font-family:'华文琥珀 Oblique', '华文琥珀';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#409EFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:820px;
  height:98px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:169px;
  width:816px;
  height:94px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:820px;
  height:98px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:338px;
  width:816px;
  height:94px;
  font-size:16px;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:820px;
  height:98px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:495px;
  width:816px;
  height:94px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:293px;
  width:30px;
  height:30px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:454px;
  width:30px;
  height:30px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:128px;
  width:30px;
  height:30px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:347px;
  width:267px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:405px;
  width:455px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:376px;
  width:526px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:506px;
  width:271px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:535px;
  width:526px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:564px;
  width:207px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:189px;
  width:784px;
  height:57px;
  font-size:16px;
  color:#666666;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  word-wrap:break-word;
}
